body {
  padding: 0;
  margin: 0;
}
.container {
  width: 640px;
  margin: 50px auto;
}
.stage {
  position: relative;
  ((null)): 0;
  ((null)): 0;
  width: 500px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  perspective: 270px;
}
.stage,
.controller,
.wrap {
  transform-style: preserve-3d;
}
.controller {
  transform: rotateY(0deg) translateY(-300px);
  animation: threeRotate 15s linear infinite;
}
.wrap {
  position: relative;
  ((null)): 0;
  ((null)): 0;
  width: 100px;
  height: 1000px;
  margin: auto;
}
.wrap .side {
  position: absolute;
  left: -1px;
  top: -1px;
  width: 100px;
  height: 1000px;
  background: url("../images/sun.jpg") 0 0 no-repeat;
  background-size: cover;
}
.wrap .side1 {
  background-position: 0px 0;
  transform: rotateY(18deg) translateZ(290px);
}
.wrap .side2 {
  background-position: -100px 0;
  transform: rotateY(36deg) translateZ(290px);
}
.wrap .side3 {
  background-position: -200px 0;
  transform: rotateY(54deg) translateZ(290px);
}
.wrap .side4 {
  background-position: -300px 0;
  transform: rotateY(72deg) translateZ(290px);
}
.wrap .side5 {
  background-position: -400px 0;
  transform: rotateY(90deg) translateZ(290px);
}
.wrap .side6 {
  background-position: -500px 0;
  transform: rotateY(108deg) translateZ(290px);
}
.wrap .side7 {
  background-position: -600px 0;
  transform: rotateY(126deg) translateZ(290px);
}
.wrap .side8 {
  background-position: -700px 0;
  transform: rotateY(144deg) translateZ(290px);
}
.wrap .side9 {
  background-position: -800px 0;
  transform: rotateY(162deg) translateZ(290px);
}
.wrap .side10 {
  background-position: -900px 0;
  transform: rotateY(180deg) translateZ(290px);
}
.wrap .side11 {
  background-position: -1000px 0;
  transform: rotateY(198deg) translateZ(290px);
}
.wrap .side12 {
  background-position: -1100px 0;
  transform: rotateY(216deg) translateZ(290px);
}
.wrap .side13 {
  background-position: -1200px 0;
  transform: rotateY(234deg) translateZ(290px);
}
.wrap .side14 {
  background-position: -1300px 0;
  transform: rotateY(252deg) translateZ(290px);
}
.wrap .side15 {
  background-position: -1400px 0;
  transform: rotateY(270deg) translateZ(290px);
}
.wrap .side16 {
  background-position: -1500px 0;
  transform: rotateY(288deg) translateZ(290px);
}
.wrap .side17 {
  background-position: -1600px 0;
  transform: rotateY(306deg) translateZ(290px);
}
.wrap .side18 {
  background-position: -1700px 0;
  transform: rotateY(324deg) translateZ(290px);
}
.wrap .side19 {
  background-position: -1800px 0;
  transform: rotateY(342deg) translateZ(290px);
}
.wrap .side20 {
  background-position: -1900px 0;
  transform: rotateY(360deg) translateZ(290px);
}
.wrap .side21 {
  background-position: -2000px 0;
  transform: rotateY(378deg) translateZ(290px);
}
.wrap .side22 {
  background-position: -2100px 0;
  transform: rotateY(396deg) translateZ(290px);
}
.wrap .side23 {
  background-position: -2200px 0;
  transform: rotateY(414deg) translateZ(290px);
}
.wrap .side24 {
  background-position: -2300px 0;
  transform: rotateY(432deg) translateZ(290px);
}
.wrap .side25 {
  background-position: -2400px 0;
  transform: rotateY(450deg) translateZ(290px);
}
.wrap .side26 {
  background-position: -2500px 0;
  transform: rotateY(468deg) translateZ(290px);
}
.wrap .side27 {
  background-position: -2600px 0;
  transform: rotateY(486deg) translateZ(290px);
}
.wrap .side28 {
  background-position: -2700px 0;
  transform: rotateY(504deg) translateZ(290px);
}
.wrap .side29 {
  background-position: -2800px 0;
  transform: rotateY(522deg) translateZ(290px);
}
.wrap .side30 {
  background-position: -2900px 0;
  transform: rotateY(540deg) translateZ(290px);
}
.wrap .side31 {
  background-position: -3000px 0;
  transform: rotateY(558deg) translateZ(290px);
}
.wrap .side32 {
  background-position: -3100px 0;
  transform: rotateY(576deg) translateZ(290px);
}
.wrap .side33 {
  background-position: -3200px 0;
  transform: rotateY(594deg) translateZ(290px);
}
.wrap .side34 {
  background-position: -3300px 0;
  transform: rotateY(612deg) translateZ(290px);
}
.wrap .side35 {
  background-position: -3400px 0;
  transform: rotateY(630deg) translateZ(290px);
}
.wrap .side36 {
  background-position: -3500px 0;
  transform: rotateY(648deg) translateZ(290px);
}
.wrap .side37 {
  background-position: -3600px 0;
  transform: rotateY(666deg) translateZ(290px);
}
.wrap .side38 {
  background-position: -3700px 0;
  transform: rotateY(684deg) translateZ(290px);
}
.wrap .side39 {
  background-position: -3800px 0;
  transform: rotateY(702deg) translateZ(290px);
}
.wrap .side40 {
  background-position: -3900px 0;
  transform: rotateY(720deg) translateZ(290px);
}
@-moz-keyframes threeRotate {
  form {
    transform: rotateY(0deg) translateY(-200px);
  }
  to {
    transform: rotateY(360deg) translateY(-200px);
  }
}
@-webkit-keyframes threeRotate {
  form {
    transform: rotateY(0deg) translateY(-200px);
  }
  to {
    transform: rotateY(360deg) translateY(-200px);
  }
}
@-o-keyframes threeRotate {
  form {
    transform: rotateY(0deg) translateY(-200px);
  }
  to {
    transform: rotateY(360deg) translateY(-200px);
  }
}
@keyframes threeRotate {
  form {
    transform: rotateY(0deg) translateY(-200px);
  }
  to {
    transform: rotateY(360deg) translateY(-200px);
  }
}
