body,h1,h2,h3,p,ul {
	padding: 0;
	margin: 0;
}
html,body {
	position: relative;
    height: 100%;
}
body {
	font-family: "Microsoft YaHei";
}
a {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
ul {
	list-style: none;
}
nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,.5);
}
nav li {
	display: inline-block;
	padding: 10px 20px;
}
nav li a{
	color: #fff;
}
.cover{
	width: 100%;
	height: 500px;
	padding-top: 150px;
	color: #fff;
	text-align: center;
	background-color: rgb(254,67,101);
	overflow: hidden;
	box-sizing: border-box;
}
.cover p {
	display: inline-block;
	margin: 0 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	font-size: 50px;
	vertical-align: middle;
}
.cover .head {
	display: inline-block;
	width: 150px;
	height: 150px;
	vertical-align: middle;
	background: url(../images/head.jpeg);
	background-size: 100%;
	border-radius: 100%;
}
.project {
	padding: 0 10% 150px;
	text-align: center;
}
.project h2,
.other-box h2,
.experience-box h2,
.intro-box h2 {
	width: 300px;
	height: 200px;
	color: #fff;
	margin: -140px auto 50px;
	border-radius: 50%;
	font-size: 50px;
	text-align: center;
}
.project h2 {
	line-height: 250px;
	background-color: rgb(254,67,101);
}
.project .item-left {
	margin: 0 auto;
	overflow: hidden;
}
.item-left .show {
	float: left;
	width: 50%;
	height: 300px;
	background: url(../images/bg.png) 0 0;
}
.item-left .show img{
	width: 100%;
	height: 100%;
}
.item-left .intro {
	float: left;
	width: 50%;
	height: 300px;
	padding: 20px;
	font-size: 20px;
	text-align: left;
	vertical-align: top;
	background-color: rgb(252,157,154);
	box-sizing: border-box;
}
.intro p{
	margin-bottom: 5px;
}
.intro .more {
	position: relative;
	width: 80px;
	height: 25px;
	margin-top: 10px;
	font-size: 14px;
	line-height: 25px;
	text-align: center;
	cursor: pointer;
}
.intro .more:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 1px solid #888;
	content: '';
	border-radius: 10px;
}
.experience-box{
	padding: 0 10%;
}
.experience-box,
.experience-box h2 {
	text-align: center;
	background-color: rgb(255,150,128);
}
.experience-box,
.other-box {
	padding-top: 70px;
	padding-bottom: 70px;
}
.experience {
	width: 300px;
	padding-bottom: 80px;
	margin: -30px auto 0;
	text-align: left;
	color: #fff;
}
.experience .name {
	font-size: 25px;
}
.intro-box {
	padding: 0 10% 200px;
	text-align: center;
}
.intro-box h2 {
	line-height: 250px;
	background-color: rgb(255,150,128);
}
.other-box,
.other-box h2 {
	background-color: rgb(88,94,92);
}
.other-box h2,
.experience-box h2 {
	margin-bottom: 0;
	line-height: 130px;
	border-radius: 50%;
}
.other {
	display: flex;
	padding: 0 20%;
	margin-top: -50px;
	text-align: center;
}
.other .item {
	display: inline-block;
	padding: 10px;
	/*border: 1px solid red;*/
	flex: 1;
}
.other .item .logo {
	display: block;
	width: 80px;
	height: 80px;
	margin: auto;
	margin-bottom: 10px;
	border-radius: 50%;
}
.other .item-1 .logo {
	background: url(../images/logo1.png) center no-repeat;
	background-size: 100%;
}
.other .item-2 .logo {
	background: url(../images/logo2.jpg) center no-repeat;
	background-size: 100%;
}
.other .item-3 .logo {
	background: url(../images/logo3.jpg) center no-repeat;
	background-size: 100%;
}


@media only screen and (max-width: 768px) {
	.cover p {
		margin: 0 10px;
	}
	.project,
	.intro-box {
		padding: 0px 10px 100px;
	}
	.item-left .show,
	.item-left .intro {
		height: 200px;
	}
	.other {
		padding: 0 10%;
	}
	.other .item .logo {
		width: 60px;
		height: 60px;
	}
}
@media only screen and (max-width: 480px) {
	.cover p {
		font-size: 30px;
	}
	.cover .head {
		width: 100px;
		height: 100px;
	}
	.project h2,
	.other-box h2,
	.experience-box h2,
	.intro-box h2 {
		width: 200px;
		height: 160px;
		margin: -125px auto 50px;
		color: #fff;
		font-size: 25px;
		line-height: 250px;
	}
	.other-box h2,
	.experience-box h2 {
		margin-top: -110px;
		margin-bottom: 0;
		line-height: 70px;
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
	.intro .more:after {
		width: 150%;
		height: 150%;
		-webkit-transform: scale3d(.6, .6, .6);
		transform: scale3d(.6, .6, .6);
		-webkit-transform-origin: 0  0;
		transform-origin: 0 0;
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.intro .more:after {
		width: 200%;
		height: 200%;
		-webkit-transform: scale3d(.5, .5, .5);
		transform: scale3d(.5, .5, .5);
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
	}
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
	.intro .more:after {
		width: 300%;
		height: 300%;
		-webkit-transform: scale3d(.3, .3, .3);
		transform: scale3d(.3, .3, .3);
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
	}
}