-pos(type, args)
	i = 0
	position: unquote(type)
	{args[i]}: args[i + 1] is a 'unit' ? args[i += 1] : 0
	{args[i += 1]}: args[i + 1] is a 'unit' ? args[i += 1] : 0

absolute()
	-pos('absolute', arguments)
relative()
	-pos('relative', arguments)

body,
p,
h3,
ul
	padding 0
	margin 0
ul
	li
		list-style none
body
	background-color #8ef1cc
	background-size cover
a
	color #000
	text-decoration none
#canvas
	absolute(top 0 left 0)
	z-index -1
.contain
	width 80%
	min-width 320px
	padding 10px
	margin 100px auto
	background-color rgba(255, 255, 255, .55)
.intro
	width 80%
	padding 10px
	padding-top 30px
	margin auto
	margin-bottom 50px
	text-align center
	p
		margin 20px 0
		text-align left
.section
	width 80%
	padding 10px 20px 30px
	margin 30px auto
	box-shadow 2px 1px 6px 0 rgba(0, 0, 0, .3)
	h2
		margin-bottom 20px
		text-align left
.translate
	text-align center
	.item
		display inline-block
		width 45%
		min-width 200px
		text-align left
		line-height 1.6rem
	.logo
		width 130px
		height 130px
		margin-right 15px
		margin-bottom 10px
		box-shadow 0 0 5px 5px rgba(0, 0, 0, .2) 
		background  center no-repeat
		background-size contain
		border-radius 10px
	.webgl-logo
		background-image url(../imgs/webgl-logo.png)
		background-size contain
	.zcfy-logo
		background-image url(../imgs/zcfy-logo.png)
		background-size contain
	.list
		display inline-block
		width 100%
		margin-top 15px
		vertical-align top
		counter-reset list
		li
			counter-increment list
			&:before
				display inline-block
				width 30px
				content '(' counter(list) ')'
				vertical-align middle
			a
				display inline-block
				width 85%
				vertical-align middle
				text-overflow ellipsis
				white-space nowrap
				overflow hidden
	.more
		float right
		color #b1acac
		font-size 12px
.projects
	text-align center
	overflow hidden
	.item-wrapper
		display inline-block
		width 250px
		height 250px
		padding-top 250px
		margin 20px 10px
		border 1px solid #ccc
		background center no-repeat
		box-sizing border-box
		overflow hidden
		&:hover
			.content
				transform translateY(-100%)
		p
			a
				text-decoration underline
	.goBang
		background-image url(../imgs/goBang.png)
		background-size contain
	.match
		background-image url(../imgs/match.png)
		background-size contain
	.teach
		background-image url(../imgs/teach.png)
		background-size contain
	.calendar
		background-image url(../imgs/calendar.png)
		background-size contain
	.maze
		background-image url(../imgs/maze.png)
		background-size contain
	.particle
		background-image url(../imgs/particle.png)
		background-size contain
	.overall
		background-image url(../imgs/overall.png)
		background-size contain
	.content
		width 100%
		padding 10px 
		text-align left
		background-color rgba(255, 255, 255, .95)
		transition transform .3s
		transform translateY(-40px)
		box-sizing border-box
		p
			cursor default
	.title 
		margin-bottom 5px
		text-align center
		a
			color #000
			font-size 20px
			font-weight bold
.exper
	.time
		color #aaa
	.item
		margin 20px 0 30px
		line-height 2rem
	h3
		margin-bottom 10px
.touch
	text-align center
	.item
		flex 1
		width 33.33%
		font-size 12px
		& > img
			display block
			width 80px
			height 80px
			margin auto